*{
	font-family: Arial;
	margin: 0;
	padding: 0;

}

body{
	background-color: white;
}

header{
	text-align: center;
	background-color: #0000FF;
	height: 8vw;
	color: white;
	font-size: 2.5vw;
}

.cadastro{
	position: absolute;
	margin-top: 1%;
	margin-left: 37%;
	text-align:center;
}

input{
	margin-bottom: 2%;
}

fieldset{
	width: 10%;
	font-family: Verdana;
	text-align:center;
}


.ir{
	width: 9%;
	float: right;
	margin-right: 2%
}
.inss{
	width: 9%;
	float: left;
	margin-left: 2%

}

#img{	
	width: 100%;
}

table{
	border: 1px solid #000;
	background-color: #DCDCDC; 
	margin-right: auto;
	margin-left: auto;
	width: auto;
	margin-top: 10px;
}

td{
	border: 1px solid #000;
	padding: 7px;
}

.footer{
	text-align:center;
	background-color: #0000FF;
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
}
footer{
	text-align:center;
	background-color: #0000FF;
	color: white;
	}
